@import url("//fonts.googleapis.com/css?family=Lato:400,400italic");
@font-face {
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: normal;
  src: url("font/fontawesome-webfont.eot?#iefix") format('embedded-opentype'), url("font/fontawesome-webfont.woff") format('woff'), url("font/fontawesome-webfont.ttf") format('truetype'), url("font/fontawesome-webfont.svg#FontAwesomeRegular") format('svg');
}
@font-face {
  font-family: 'iconfont';
  src: url("font/iconfont.eot?#iefix") format('embedded-opentype'), url("font/iconfont.woff") format('woff'), url("font/iconfont.ttf") format('truetype'), url("font/iconfont.svg#iconfont") format('svg') /* iOS 4.1- */;
}
@font-face {
  font-family: proxima-nova-soft;
  src: url("https://fonts.typekit.net/af/b5823a/00000000000000000001743c/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: proxima-nova-soft;
  src: url("https://fonts.typekit.net/af/d800ad/00000000000000000001743f/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7") format("woff2");
  font-weight: 700;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}
body {
  background: #fff;
  color: #4a4a4a;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Hiragino Sans GB", "Microsoft YaHei", "Source Han Sans CN", "WenQuanYi Micro Hei", Arial, sans-serif;
  font-size: 14px;
  text-shadow: 0 0 1px transparent;
}
@media screen and (max-width: 1060px) {
  body {
    margin: 0 40px;
  }
}
@media screen and (max-width: 580px) {
  body {
    margin: 0;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Hiragino Sans GB", "Microsoft YaHei", "Source Han Sans CN", "WenQuanYi Micro Hei", Arial, sans-serif;
}
h1 {
  font-size: 1.8em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.3em;
}
a {
  text-decoration: none;
  color: #258fb8;
}
a:hover {
  text-decoration: underline;
}
.alignleft {
  float: left;
}
.alignright {
  float: right;
}
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
#content {
  margin-left: 280px;
}
@media screen and (max-width: 1200px) {
  #content {
    margin-left: 240px;
  }
}
@media screen and (max-width: 1060px) {
  #content {
    margin-left: 30px;
  }
}
@media screen and (max-width: 930px) {
  #content {
    margin-left: 0;
  }
}
article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
  font-weight: bold;
  margin: 16px 0 12px;
  color: #4a4a4a;
}
article h1 {
  font-size: 22px;
}
article h2 {
  font-size: 18px;
}
article h3 {
  font-size: 14px;
}
article h4 {
  font-size: 14px;
}
article a {
  color: #e95787;
}
article a:hover {
  color: #e53b73;
}
article strong {
  color: #4a4a4a;
}
article a strong {
  color: #e95787;
}
article p {
  font-size: 14px;
  line-height: 2em;
  margin-bottom: 20px;
  color: #555;
}
article ol,
article ul {
  font-size: 14px;
  color: #555;
}
article img {
  max-width: 100%;
  height: auto;
}
article ul {
  margin: 20px;
}
article ul li {
  position: relative;
  padding-left: 14px;
  list-style: none;
}
article ul li:before {
  position: absolute;
  top: 12px;
  left: -2px;
  width: 4px;
  height: 4px;
  margin-left: 2px;
  content: ' ';
  border-radius: 50%;
  background: #bbb;
}
article p + ul {
  margin-top: -10px;
}
article ul + p {
  margin-top: 25px;
}
article ol {
  padding-left: 20px;
}
article blockquote {
  margin: 0;
  padding: 2px 30px;
  color: #555;
  border-left: 6px solid #eee;
  background: #fafafa;
}
.left-btn {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.2em;
  color: #d3d3d3;
}
.left-btn .icon-arrow-left:before {
  font-family: FontAwesome;
  content: '\f100';
  padding-right: 15px;
}
#header {
  width: 260px;
  float: left;
}
@media screen and (max-width: 1200px) {
  #header {
    width: 240px;
  }
}
@media screen and (max-width: 1060px) {
  #header {
    width: 100%;
    float: none;
  }
}
.align-left {
  margin: 66px 40px 0;
  width: 180px;
  height: 100%;
  text-align: center;
}
@media screen and (max-width: 1200px) {
  .align-left {
    margin: 66px 0 0;
  }
}
@media screen and (max-width: 1060px) {
  .align-left {
    width: 100%;
    float: none;
    margin: 36px 0 0;
  }
}
@media screen and (max-width: 580px) {
  .align-left {
    margin-top: 0;
  }
}
.align-left .user-info {
  font-family: "proxima-nova-soft", "Arial Rounded MT", "Avant Garde", helvetica, arial, sans-serif;
}
.align-left .user-info .user-img {
  display: block;
}
.align-left .user-info .user-img:hover {
  text-decoration: none;
}
@media screen and (max-width: 580px) {
  .align-left .user-info {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #ecedee;
  }
}
.align-left .user-info .menu-toggle {
  display: none;
  font-size: 1.05em;
  color: #9ea3be;
  cursor: pointer;
}
@media screen and (max-width: 580px) {
  .align-left .user-info .menu-toggle {
    display: block;
    position: absolute;
    left: 0;
    margin: 0 10px;
  }
}
.align-left .user-info .menu-toggle:hover {
  text-decoration: none;
  color: #e95787;
}
.align-left .user-info img {
  width: 100px;
  height: 100px;
}
@media screen and (max-width: 1060px) {
  .align-left .user-info img {
    width: 46px;
    height: 46px;
  }
}
@media screen and (max-width: 580px) {
  .align-left .user-info img {
    position: absolute;
    width: 22px;
    height: 22px;
    right: 10px;
    top: 7px;
  }
}
.align-left .user-info h1 {
  margin-top: 8px;
  font-family: "proxima-nova-soft", "Arial Rounded MT", "Avant Garde", helvetica, arial, sans-serif;
  font-size: 1.45em;
  font-weight: 700;
  color: #4a4a4a;
}
@media screen and (max-width: 1060px) {
  .align-left .user-info h1 {
    font-size: 1.4em;
  }
}
@media screen and (max-width: 580px) {
  .align-left .user-info h1 {
    margin-top: 0;
    text-align: center;
    font-size: 1em;
  }
}
.align-left .user-info p {
  margin: 6px 0 0 26px;
  font-family: "proxima-nova-soft", "Arial Rounded MT", "Avant Garde", helvetica, arial, sans-serif;
  text-align: left;
  font-size: 1.1em;
  color: #9ea3be;
}
@media screen and (max-width: 1060px) {
  .align-left .user-info p {
    margin: 6px 0 0 0;
    text-align: center;
  }
}
@media screen and (max-width: 580px) {
  .align-left .user-info p {
    display: none;
  }
}
.align-left .menu {
  margin: 35px 0;
  padding: 10px 0 40px;
  border-radius: 0.5em;
  background-color: #f4f5f7;
  text-align: left;
  display: block;
}
@media screen and (max-width: 1060px) {
  .align-left .menu {
    margin: 30px 0 0;
    padding: 0;
    background-color: transparent;
  }
}
@media screen and (max-width: 580px) {
  .align-left .menu {
    margin: 0;
  }
  .align-left .menu.toggle {
    display: none;
  }
}
@media screen and (max-width: 1060px) {
  .align-left .menu .menu-nav {
    width: 420px;
    margin: 0 auto;
    background-color: #f4f5f7;
    border-radius: 0.5em;
  }
}
@media screen and (max-width: 580px) {
  .align-left .menu .menu-nav {
    width: 100%;
    background-color: #fff;
  }
}
.align-left .menu .menu-nav .nav {
  margin: 10px 0;
  padding-left: 28px;
  line-height: 28px;
  font-size: 1.1em;
  list-style: none;
}
@media screen and (max-width: 1060px) {
  .align-left .menu .menu-nav .nav {
    float: left;
    width: 33.33%;
    padding: 0;
    text-align: center;
  }
}
@media screen and (max-width: 580px) {
  .align-left .menu .menu-nav .nav {
    float: left;
    width: 100%;
    padding: 0;
    text-align: center;
  }
}
.align-left .menu .menu-nav .nav a {
  display: block;
  cursor: pointer;
  color: #393941;
  font-family: "proxima-nova-soft", "Arial Rounded MT", "Avant Garde", helvetica, arial, sans-serif;
  font-weight: 700;
}
@media screen and (max-width: 580px) {
  .align-left .menu .menu-nav .nav a {
    display: inline-block;
    padding: 4px 40px;
    border-radius: 6px;
  }
}
.align-left .menu .menu-nav .nav a:hover {
  text-decoration: none;
  text-shadow: none;
  color: #e95787;
}
@media screen and (max-width: 580px) {
  .align-left .menu .menu-nav .nav a:hover {
    background-color: #f4f5f7;
  }
}
.align-left .menu .menu-nav .nav.active a {
  text-decoration: none;
  text-shadow: none;
  color: #e95787;
}
@media screen and (max-width: 580px) {
  .align-left .menu .menu-nav .nav.active a {
    background-color: #f4f5f7;
  }
}
#wrapper {
  margin-top: 20px;
  margin-bottom: 40px;
}
#wrapper #comments {
  margin-top: 20px;
  margin-right: 315px;
}
@media screen and (max-width: 930px) {
  #wrapper #comments {
    margin: 20px;
  }
}
article {
  margin-top: 70px;
}
article footer {
  margin-right: 315px;
}
@media screen and (max-width: 930px) {
  article footer {
    margin-right: 20px;
  }
}
@media screen and (max-width: 930px) {
  article {
    margin: 60px 20px 20px;
  }
}
@media screen and (max-width: 580px) {
  article:nth-child(1) {
    margin-top: 40px;
  }
}
article .post-content .article-header {
  position: relative;
  float: right;
  width: 270px;
}
@media screen and (max-width: 1200px) {
  article .post-content .article-header {
    width: 240px;
  }
}
@media screen and (max-width: 930px) {
  article .post-content .article-header {
    float: none;
    width: 100%;
    text-align: center;
  }
}
article .post-content .article-header time {
  float: left;
  padding-left: 10px;
  border-left: 2px solid #e3e4ea;
}
article .post-content .article-header time a {
  color: #4a4a4a;
  font-size: 0.9em;
}
article .post-content .article-header .tags {
  float: left;
  margin-left: 10px;
  color: #e95787;
}
article .post-content .article-header .tags a {
  font-size: 0.8em;
  color: #e95787;
}
article .post-content .article-header .title {
  margin-top: 14px;
  padding: 0 10px;
  font-size: 1.15em;
}
@media screen and (max-width: 930px) {
  article .post-content .article-header .title {
    margin-bottom: 12px;
    font-size: 1.4em;
  }
}
article .post-content .article-header .title a {
  font-weight: normal;
  font-size: 1.15em;
  color: #4a4a4a;
}
article .post-content .article-header .title a:hover {
  color: #e95787;
}
article .post-content .article-header .read-more {
  margin-top: 30px;
  margin-right: 20px;
  padding-left: 0;
  text-align: right;
}
@media screen and (max-width: 930px) {
  article .post-content .article-header .read-more {
    text-align: center;
  }
}
article .post-content .article-header .read-more a {
  padding: 6px 12px 6px;
  border-radius: 4px;
  border: 1px solid #4a4a4a;
  font-family: "proxima-nova-soft", "Arial Rounded MT", "Avant Garde", helvetica, arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #4a4a4a;
}
article .post-content .article-header .read-more a:hover {
  text-decoration: none;
  color: #e95787;
  border-color: #e95787;
}
article .post-content .entry {
  margin-right: 315px;
}
@media screen and (max-width: 1200px) {
  article .post-content .entry {
    margin-right: 270px;
  }
}
@media screen and (max-width: 930px) {
  article .post-content .entry {
    margin-right: 0;
  }
}
article .post-content .post-main {
  margin-right: 315px;
}
@media screen and (max-width: 1200px) {
  article .post-content .post-main {
    margin-right: 270px;
  }
}
@media screen and (max-width: 930px) {
  article .post-content .post-main {
    margin-right: 0;
  }
}
article .page-article .article-header {
  float: none;
  position: fixed;
  right: 0;
}
@media screen and (max-width: 1060px) {
  article .page-article .article-header {
    position: absolute;
  }
}
@media screen and (max-width: 1060px) {
  article .page-article .article-header.scroll-header {
    position: fixed;
    top: 60px;
  }
}
@media screen and (max-width: 930px) {
  article .page-article .article-header {
    position: relative;
    text-align: center;
  }
}
.toc-article {
  position: fixed;
  margin: 40px 0 0 10px;
  font-size: 13px;
}
@media screen and (max-width: 960px) {
  .toc-article {
    position: absolute;
  }
}
.toc-article.fixed {
  position: fixed;
}
.toc-article ol {
  line-height: 1.8em;
  padding-left: 10px;
  list-style: none;
  font-size: 13px;
}
.toc-article ul {
  font-size: 13px;
}
.toc-article > li {
  margin: 4px 0;
}
.toc-article .toc-title {
  font-size: 14px;
}
.toc-article .toc {
  padding-left: 0;
}
.toc-article a.toc-link.active {
  color: #111;
  font-weight: bold;
}
.toc-article a {
  color: #888;
}
.toc-article a:hover {
  color: #7a7a7a;
}
@media screen and (max-width: 930px) {
  .toc-article {
    display: none;
  }
}
#comment {
  padding: 20px;
  background: #fff;
  -webkit-box-shadow: 1px 2px 3px #ddd;
  box-shadow: 1px 2px 3px #ddd;
  margin-bottom: 50px;
}
#comment .title {
  font-weight: normal;
  margin-bottom: 15px;
}
#pagination a {
  display: block;
  padding: 5px 10px;
  background: #e3e4ea;
  color: #999;
  font-family: "Lato", Helvetica Neue, Helvetica, Arial, sans-serif;
  text-shadow: 0 0 1px #fff;
  margin-bottom: 50px;
}
#pagination a:hover {
  background: #258fb8;
  color: #fff;
  text-decoration: none;
  text-shadow: none;
}
#pagination .prev:before {
  content: '\f053';
  padding-right: 10px;
  font-family: FontAwesome;
}
#pagination .next:after {
  content: '\f054';
  padding-left: 10px;
  font-family: FontAwesome;
}
.archives-wrap {
  margin: 70px 0 0 60px;
  width: 600px;
}
.archives-wrap:nth-child(4n) .archive-year {
  color: #ff5f2e;
  border-color: #ff5f2e;
}
.archives-wrap:nth-child(4n+1) .archive-year {
  color: #6a60a9;
  border-color: #6a60a9;
}
.archives-wrap:nth-child(4n+2) .archive-year {
  color: #fcbe32;
  border-color: #fcbe32;
}
.archives-wrap:nth-child(4n+3) .archive-year {
  color: #67d5b5;
  border-color: #67d5b5;
}
@media screen and (max-width: 1060px) {
  .archives-wrap {
    margin: 70px auto 0;
  }
}
@media screen and (max-width: 930px) {
  .archives-wrap {
    width: 90%;
  }
}
@media screen and (max-width: 580px) {
  .archives-wrap {
    margin-top: 30px;
  }
}
.archives-wrap .archive-year {
  padding-left: 10px;
  border-left: 2px solid #4a4a4a;
  font-family: "proxima-nova-soft", "Arial Rounded MT", "Avant Garde", helvetica, arial, sans-serif;
  font-size: 18px;
}
.archives-wrap .archives {
  margin-top: 30px;
}
.archives-wrap .archives a {
  cursor: pointer;
  color: #4a4a4a;
}
.archives-wrap .archives .archive-article {
  margin-top: 0;
  border-bottom: 1px dashed #eee;
}
@media screen and (max-width: 930px) {
  .archives-wrap .archives .archive-article {
    margin: 0;
  }
}
@media screen and (max-width: 580px) {
  .archives-wrap .archives .archive-article {
    margin-top: 10px;
  }
}
.archives-wrap .archives .archive-article .archive-article-date:hover {
  color: #e95787;
}
.archives-wrap .archives .archive-article .archive-article-date:hover time {
  color: #e95787;
}
.archives-wrap .archives .archive-article .archive-article-date time {
  font-family: "proxima-nova-soft", "Arial Rounded MT", "Avant Garde", helvetica, arial, sans-serif;
  font-size: 14px;
  color: #4a4a4a;
}
@media screen and (max-width: 580px) {
  .archives-wrap .archives .archive-article .archive-article-date time {
    display: block;
  }
}
.archives-wrap .archives .archive-article .archive-article-date time:before {
  content: '';
  position: relative;
  margin-right: 8px;
  top: -5px;
  font-size: 0;
  border-top: 6px solid #fff;
  border-right: 6px solid #fff;
  border-bottom: 6px solid #fff;
  border-left: 6px solid #eae8e8;
}
.archives-wrap .archives .archive-article .title {
  display: inline-block;
  margin-left: 20px;
  font-size: 15px;
  font-weight: bold;
}
.archives-wrap .archives .archive-article .title a:hover {
  color: #e95787;
}
.archives-wrap .archives .archive-article .tags {
  display: inline-block;
  margin-left: 20px;
  color: #e95787;
}
.archives-wrap .archives .archive-article .tags a {
  font-size: 13px;
  color: #e95787;
}
.archive-title .tag {
  margin-top: 20px;
}
.toc-article {
  position: fixed;
  margin: 40px 0 0 10px;
  font-size: 13px;
}
@media screen and (max-width: 960px) {
  .toc-article {
    position: absolute;
  }
}
.toc-article.fixed {
  position: fixed;
}
.toc-article ol {
  line-height: 1.8em;
  padding-left: 10px;
  list-style: none;
  font-size: 13px;
}
.toc-article ul {
  font-size: 13px;
}
.toc-article > li {
  margin: 4px 0;
}
.toc-article .toc-title {
  font-size: 14px;
}
.toc-article .toc {
  padding-left: 0;
}
.toc-article a.toc-link.active {
  color: #111;
  font-weight: bold;
}
.toc-article a {
  color: #888;
}
.toc-article a:hover {
  color: #7a7a7a;
}
@media screen and (max-width: 930px) {
  .toc-article {
    display: none;
  }
}
#footer {
  color: #999;
  margin-bottom: 50px;
  font: 0.9em/1.6 "Lato", Helvetica Neue, Helvetica, Arial, sans-serif;
  text-shadow: 0 0 1px #fff;
}
.entry .gist {
  background: #eee;
  border: 1px solid #e3e4ea;
  margin-top: 15px;
  padding: 7px 15px;
  border-radius: 2px;
  text-shadow: 0 0 1px #fff;
  line-height: 1.6;
  overflow: auto;
  color: #666;
}
.entry .gist .gist-file {
  border: none;
  font-family: inherit;
  margin: 0;
  font-size: 0.9em;
}
.entry .gist .gist-file .gist-data {
  background: none;
  border-bottom: none;
}
.entry .gist .gist-file .gist-data pre {
  padding: 0 !important;
  font-family: Monaco, Menlo, Consolas, Courier New, monospace;
}
.entry .gist .gist-file .gist-meta {
  background: none;
  color: #999;
  margin-top: 5px;
  padding: 0;
  text-shadow: 0 0 1px #fff;
  font-size: 100%;
}
.entry .gist .gist-file .gist-meta a {
  color: #258fb8;
}
.entry .gist .gist-file .gist-meta a:visited {
  color: #258fb8;
}
pre .comment,
pre .template_comment,
pre .diff .header,
pre .doctype,
pre .pi,
pre .lisp .string,
pre .javadoc {
  color: #93a1a1;
  font-style: italic;
}
pre .keyword,
pre .winutils,
pre .method,
pre .addition,
pre .css .tag,
pre .request,
pre .status,
pre .nginx .title {
  color: #859900;
}
pre .number,
pre .command,
pre .string,
pre .tag .value,
pre .phpdoc,
pre .tex .formula,
pre .regexp,
pre .hexcolor {
  color: #2aa198;
}
pre .title,
pre .localvars,
pre .chunk,
pre .decorator,
pre .built_in,
pre .identifier,
pre .vhdl,
pre .literal,
pre .id {
  color: #268bd2;
}
pre .attribute,
pre .variable,
pre .lisp .body,
pre .smalltalk .number,
pre .constant,
pre .class .title,
pre .parent,
pre .haskell .type {
  color: #b58900;
}
pre .preprocessor,
pre .preprocessor .keyword,
pre .shebang,
pre .symbol,
pre .symbol .string,
pre .diff .change,
pre .special,
pre .attr_selector,
pre .important,
pre .subst,
pre .cdata,
pre .clojure .title {
  color: #cb4b16;
}
pre .deletion {
  color: #dc322f;
}
code {
  padding: 3px 6px;
  vertical-align: middle;
  border-radius: 4px;
  background-color: #f7f7f7;
  color: #e96900;
}
figure.highlight {
  display: block;
  overflow-x: auto;
  margin: 0 0 15px;
  padding: 16px;
  color: #555;
  font-size: 13px;
  border-radius: 6px;
  background-color: #f7f7f7;
  overflow-y: hidden;
}
.highlight pre {
  line-height: 1.5em;
  overflow-y: hidden;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.highlight .gutter pre {
  padding-right: 30px;
  text-align: right;
  border: 0;
  background-color: transparent;
}
.highlight .code {
  width: 100%;
}
.highlight figcaption {
  font-size: 0.8em;
  color: #999;
}
.highlight figcaption a {
  float: right;
}
.highlight table {
  width: 100%;
  margin: 0;
  border: 0;
}
.highlight table td,
.highlight table th {
  border: 0;
  color: #888;
  font-size: $code-font-size;
  padding: 0;
}
.highlight pre {
  margin: 0;
  background-color: transparent;
}
.highlight .comment,
.highlight .meta {
  color: #b3b3b3;
}
.highlight .string,
.highlight .value,
.highlight .variable,
.highlight .template-variable,
.highlight .strong,
.highlight .emphasis,
.highlight .quote,
.highlight .inheritance,
.highlight.ruby .symbol,
.highlight.xml .cdata {
  color: $site-color;
}
.highlight .keyword,
.highlight .selector-tag,
.highlight .type,
.highlight.javascript .function {
  color: #e96900;
}
.highlight .preprocessor,
.highlight .built_in,
.highlight .params,
.highlight .constant,
.highlight .symbol,
.highlight .bullet,
.highlight .attribute,
.highlight.css .hexcolor {
  color: $site-color;
}
.highlight .number,
.highlight .literal {
  color: #ae81ff;
}
.highlight .section,
.highlight .header,
.highlight .name,
.highlight .function,
.highlight.python .decorator,
.highlight.python .title,
.highlight.ruby .function .title,
.highlight.ruby .title .keyword,
.highlight.perl .sub,
.highlight.javascript .title,
.highlight.coffeescript .title {
  color: #525252;
}
.highlight .tag,
.highlight .regexp {
  color: #2973b7;
}
.highlight .title,
.highlight .attr,
.highlight .selector-id,
.highlight .selector-class,
.highlight .selector-attr,
.highlight .selector-pseudo,
.highlight.ruby .constant,
.highlight.xml .tag .title,
.highlight.xml .pi,
.highlight.xml .doctype,
.highlight.html .doctype,
.highlight.css .id,
.highlight.css .pseudo,
.highlight .class,
.highlight.ruby .class .title,
.highlight.xml .meta {
  color: #2973b7;
  padding: 0;
  font-size: 13px;
}
.highlight.css .code .attribute {
  color: #e96900;
}
.highlight.css .class {
  color: #525252;
}
.tag .attribute {
  color: #e96900;
}
.tag .name {
  color: #2973b7;
}
.tag .attr {
  color: #e96900;
}
.highlight .addition {
  color: #55a532;
  background-color: #eaffea;
}
.highlight .deletion {
  color: #bd2c00;
  background-color: #ffecec;
}
.highlight .link {
  text-decoration: underline;
}
.function .keyword {
  color: #0092db;
}
.function .params {
  color: #525252;
}
.function .title {
  color: #525252;
}
.bounceInDown {
  -webkit-animation-name: bounceInDown;
  -moz-animation-name: bounceInDown;
  -o-animation-name: bounceInDown;
  -ms-animation-name: bounceInDown;
  animation-name: bounceInDown;
}
.bounceOutUp {
  -webkit-animation-name: bounceOutUp;
  -moz-animation-name: bounceOutUp;
  -o-animation-name: bounceOutUp;
  -ms-animation-name: bounceOutUp;
  animation-name: bounceOutUp;
}
.animated {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  -ms-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  animation-fill-mode: both;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(32,39,50,0.5);
}
.backdrop.hide {
  display: none;
}
.backdrop.hide .about-wrap {
  display: none;
}
.backdrop .about-wrap {
  width: 600px;
  height: 340px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -210px 0 0 -300px;
  padding: 80px 0 0;
  border-radius: 8px;
  background-color: #fff;
}
@media screen and (max-width: 880px) {
  .backdrop .about-wrap {
    width: 500px;
    margin-left: -250px;
  }
}
@media screen and (max-width: 680px) {
  .backdrop .about-wrap {
    width: 420px;
    margin-left: -210px;
  }
}
@media screen and (max-width: 580px) {
  .backdrop .about-wrap {
    width: 380px;
    margin-left: -190px;
  }
}
@media screen and (max-width: 460px) {
  .backdrop .about-wrap {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
  }
}
.backdrop .about-wrap .author-img {
  text-align: center;
}
.backdrop .about-wrap img {
  width: 136px;
  height: 136px;
  border-radius: 68px;
}
@media screen and (max-width: 580px) {
  .backdrop .about-wrap img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
  }
}
.backdrop .about-wrap .author-info {
  margin-top: 40px;
  padding: 0 65px;
  font-family: "proxima-nova-soft", "Arial Rounded MT", "Avant Garde", helvetica, arial, sans-serif;
  text-align: center;
}
@media screen and (max-width: 880px) {
  .backdrop .about-wrap .author-info {
    padding: 0 45px;
  }
}
@media screen and (max-width: 680px) {
  .backdrop .about-wrap .author-info {
    padding: 0 30px;
  }
}
@media screen and (max-width: 460px) {
  .backdrop .about-wrap .author-info {
    padding: 0 20px;
  }
}
.backdrop .about-wrap .author-info p {
  font-size: 18px;
  font-weight: bold;
}
@media screen and (max-width: 580px) {
  .backdrop .about-wrap .author-info p {
    font-size: 16px;
  }
}
.backdrop .about-wrap .author-info .contact {
  width: 300px;
  margin: 20px auto;
}
.backdrop .about-wrap .author-info .contact li {
  float: left;
  width: 33.33%;
  text-align: center;
  list-style: none;
}
.backdrop .about-wrap .author-info .contact li a {
  font-size: 16px;
  font-weight: bold;
  color: #4a4a4a;
}
@media screen and (max-width: 580px) {
  .backdrop .about-wrap .author-info .contact li a {
    font-size: 14px;
  }
}
.backdrop .about-wrap .author-info .contact li a:before {
  font-family: iconfont;
  padding-right: 4px;
}
.backdrop .about-wrap .author-info .contact li a.link-github:before {
  content: '\e609';
  color: #000;
}
.backdrop .about-wrap .author-info .contact li a.link-weibo:before {
  content: '\e602';
  color: #e90d24;
}
.backdrop .about-wrap .author-info .contact li a.link-email:before {
  content: '\e60a';
  color: #0383c1;
}
.backdrop .about-wrap .close-about {
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 10px;
  cursor: pointer;
}
.backdrop .about-wrap .close-about:hover {
  text-decoration: none;
}
.backdrop .about-wrap .close-about .close:before {
  content: '\e60b';
  font-family: iconfont;
  font-weight: bold;
  font-size: 20px;
  color: #e95787;
}
@-moz-keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -moz-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -ms-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translate3d(0, -3000px, 0);
    -moz-transform: translate3d(0, -3000px, 0);
    -o-transform: translate3d(0, -3000px, 0);
    -ms-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }
  60% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translate3d(0, 25px, 0);
    -moz-transform: translate3d(0, 25px, 0);
    -o-transform: translate3d(0, 25px, 0);
    -ms-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    -moz-transform: translate3d(0, -10px, 0);
    -o-transform: translate3d(0, -10px, 0);
    -ms-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    -moz-transform: translate3d(0, 5px, 0);
    -o-transform: translate3d(0, 5px, 0);
    -ms-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }
  to {
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    transform: none;
  }
}
@-webkit-keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -moz-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -ms-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translate3d(0, -3000px, 0);
    -moz-transform: translate3d(0, -3000px, 0);
    -o-transform: translate3d(0, -3000px, 0);
    -ms-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }
  60% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translate3d(0, 25px, 0);
    -moz-transform: translate3d(0, 25px, 0);
    -o-transform: translate3d(0, 25px, 0);
    -ms-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    -moz-transform: translate3d(0, -10px, 0);
    -o-transform: translate3d(0, -10px, 0);
    -ms-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    -moz-transform: translate3d(0, 5px, 0);
    -o-transform: translate3d(0, 5px, 0);
    -ms-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }
  to {
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    transform: none;
  }
}
@-o-keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -moz-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -ms-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translate3d(0, -3000px, 0);
    -moz-transform: translate3d(0, -3000px, 0);
    -o-transform: translate3d(0, -3000px, 0);
    -ms-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }
  60% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translate3d(0, 25px, 0);
    -moz-transform: translate3d(0, 25px, 0);
    -o-transform: translate3d(0, 25px, 0);
    -ms-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    -moz-transform: translate3d(0, -10px, 0);
    -o-transform: translate3d(0, -10px, 0);
    -ms-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    -moz-transform: translate3d(0, 5px, 0);
    -o-transform: translate3d(0, 5px, 0);
    -ms-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }
  to {
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    transform: none;
  }
}
@keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -moz-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -ms-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translate3d(0, -3000px, 0);
    -moz-transform: translate3d(0, -3000px, 0);
    -o-transform: translate3d(0, -3000px, 0);
    -ms-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }
  60% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translate3d(0, 25px, 0);
    -moz-transform: translate3d(0, 25px, 0);
    -o-transform: translate3d(0, 25px, 0);
    -ms-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    -moz-transform: translate3d(0, -10px, 0);
    -o-transform: translate3d(0, -10px, 0);
    -ms-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    -moz-transform: translate3d(0, 5px, 0);
    -o-transform: translate3d(0, 5px, 0);
    -ms-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }
  to {
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    transform: none;
  }
}
@-moz-keyframes bounceOutUp {
  20% {
    -webkit-transform: translate3d(0, -10px, 0);
    -moz-transform: translate3d(0, -10px, 0);
    -o-transform: translate3d(0, -10px, 0);
    -ms-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  40%, 45% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translate3d(0, 20px, 0);
    -moz-transform: translate3d(0, 20px, 0);
    -o-transform: translate3d(0, 20px, 0);
    -ms-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
  }
  to {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translate3d(0, -2000px, 0);
    -moz-transform: translate3d(0, -2000px, 0);
    -o-transform: translate3d(0, -2000px, 0);
    -ms-transform: translate3d(0, -2000px, 0);
    transform: translate3d(0, -2000px, 0);
  }
}
@-webkit-keyframes bounceOutUp {
  20% {
    -webkit-transform: translate3d(0, -10px, 0);
    -moz-transform: translate3d(0, -10px, 0);
    -o-transform: translate3d(0, -10px, 0);
    -ms-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  40%, 45% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translate3d(0, 20px, 0);
    -moz-transform: translate3d(0, 20px, 0);
    -o-transform: translate3d(0, 20px, 0);
    -ms-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
  }
  to {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translate3d(0, -2000px, 0);
    -moz-transform: translate3d(0, -2000px, 0);
    -o-transform: translate3d(0, -2000px, 0);
    -ms-transform: translate3d(0, -2000px, 0);
    transform: translate3d(0, -2000px, 0);
  }
}
@-o-keyframes bounceOutUp {
  20% {
    -webkit-transform: translate3d(0, -10px, 0);
    -moz-transform: translate3d(0, -10px, 0);
    -o-transform: translate3d(0, -10px, 0);
    -ms-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  40%, 45% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translate3d(0, 20px, 0);
    -moz-transform: translate3d(0, 20px, 0);
    -o-transform: translate3d(0, 20px, 0);
    -ms-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
  }
  to {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translate3d(0, -2000px, 0);
    -moz-transform: translate3d(0, -2000px, 0);
    -o-transform: translate3d(0, -2000px, 0);
    -ms-transform: translate3d(0, -2000px, 0);
    transform: translate3d(0, -2000px, 0);
  }
}
@keyframes bounceOutUp {
  20% {
    -webkit-transform: translate3d(0, -10px, 0);
    -moz-transform: translate3d(0, -10px, 0);
    -o-transform: translate3d(0, -10px, 0);
    -ms-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  40%, 45% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translate3d(0, 20px, 0);
    -moz-transform: translate3d(0, 20px, 0);
    -o-transform: translate3d(0, 20px, 0);
    -ms-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
  }
  to {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translate3d(0, -2000px, 0);
    -moz-transform: translate3d(0, -2000px, 0);
    -o-transform: translate3d(0, -2000px, 0);
    -ms-transform: translate3d(0, -2000px, 0);
    transform: translate3d(0, -2000px, 0);
  }
}
.bdsharebuttonbox a {
  color: #999;
}
.bdsharebuttonbox a:before {
  padding-right: 4px;
}
.bdsharebuttonbox a.bds_weixin {
  background-image: none;
}
.bdsharebuttonbox a.bds_weixin:before {
  font-family: iconfont;
  content: '\e603';
  font-size: 16px;
  color: #44b549;
}
.bdsharebuttonbox a.bds_tsina {
  background-image: none;
}
.bdsharebuttonbox a.bds_tsina:before {
  font-family: iconfont;
  content: '\e602';
  font-size: 15px;
  color: #e90d24;
}
.bdsharebuttonbox a.bds_qzone {
  background-image: none;
}
.bdsharebuttonbox a.bds_qzone:before {
  font-family: iconfont;
  content: '\e605';
  font-size: 14px;
  color: #ffcd00;
}
.bdsharebuttonbox a.bds_tqq {
  background-image: none;
}
.bdsharebuttonbox a.bds_tqq:before {
  font-family: iconfont;
  content: '\e606';
  font-size: 14px;
  color: #388bff;
}
.bdsharebuttonbox a.bds_renren {
  background-image: none;
}
.bdsharebuttonbox a.bds_renren:before {
  font-family: iconfont;
  content: '\e600';
  font-size: 14px;
  color: #0059ad;
}
.bdsharebuttonbox a:hover {
  color: #e95787;
}
